<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" th:if="${articles.number > 0}">
                <a class="page-link" th:href="@{/articles?page=0}">First</a>
            </li>
            <li class="page-item" th:unless="${articles.first}">
                <a class="page-link" th:href="@{'/articles'(page=${articles.number-1})}">Previous</a>
            </li>
            <li class="page-item" th:each="item : ${paginationBarNumbers}">
                <a th:class="'page-link' + (${articles.number} == ${item} ? ' disabled' : '')" th:href="@{'/articles'(page=${item})}" th:text="${item + 1}">Page number</a>
            </li>
            <li class="page-item" th:unless="${articles.last}">
                <a class="page-link" th:href="@{'/articles'(page=${articles.number+1})}">Next</a>
            </li>
            <li class="page-item" th:unless="${articles.last}">
                <a class="page-link" th:href="@{'/articles'(page=${articles.totalPages-1})}">Last</a>
            </li>

        </ul>
    </nav>
</body>
</html>